[2013-10-30 16:09] kaelig opened #3 "Document $mq-static-breakpoint"
@bewildergeist will you do us the honour of documenting the new feature in the README?

[2013-10-31 14:02] magsout opened #5 "Update list using SassScript Maps ?"
The new Maps data type in Sass 3.3 is awesome, I think, using it is better ;)

[code]

[2013-11-01 09:17] #3 closed, assigned to nobody

[2013-11-04 19:00] kaelig opened #6 "Media query "void" when text zoom is on"
Media queries are calculated on a 16px baseline, which means that if this baseline changes, media queries do too.
## Original media query

In the case of set of media queries like:

[code]
## 16 px baseline (default)

With a baseline of 16px, it gets translated into:

[code]

Which is fine.
## 20px baseline

![screen shot 2013-11-04 at 18 51 34](https://f.cloud.github.com/assets/85783/1467444/27a2

[2013-11-05 10:20] #6 closed, assigned to nobody

[2013-11-05 20:28] #5 closed, assigned to nobody

[2014-04-15 06:44] jackmahoney opened #8 "Libsass support"
Hi just noticed the sass-mq doesn't compile correctly with libsass right now.

This may be more relevant for the libsass repo but the problem is the string interpolation used here

[code]

[2014-04-15 07:57] #8 closed, assigned to nobody

[2014-07-16 10:21] JoshHarrington opened #11 "multiple media query areas"
Hi there,

Firstly, thanks for the excellent tool!

I'm having trouble trying to create multiple media query areas, when I try and use two $to functions my preprocessor fails to compile the sass. I'm attempting to do something like this:

@media all and (max-width: 400px), (min-width: 650px) and (max-width: 1200px) {
// fun stuff
}

But there doesn't seem to be any suggestions for how to write thi

[2014-07-16 10:55] #11 closed, assigned to nobody

[2014-10-07 12:25] marcot1t opened #16 "Problem with the syntax"
Hi,
when I try to compile my scss I get this warning:
Syntax error: Invalid CSS after \" mobile\": expected \")\", was \": 320px,\"

I've Sass 3.3.8 (Maptastic Maple)

[2014-10-14 14:16] #16 closed, assigned to nobody

[2014-10-17 20:23] davidangel opened #18 "mq:129: expected '{' in media query"
I'm getting this error when sass is compiling my css. I'm using gulp-sass, so I'm not sure who to blame :-)

Thanks in advance for any help you can give!

[2014-10-18 15:12] #18 closed, assigned to nobody

[2014-10-20 10:21] kaelig opened #19 "v2.2 not picked up by bower"
v2.2 isn't picked up by Bower because it's not a recognised semver version number.

Can you please make a release for the v2.2.0?

[2014-10-20 10:27] #19 closed, assigned to nobody

[2014-10-22 13:49] davidangel opened #20 "error reading values after mobile"
[gulp-sass] /media/sass/modules/mq:13: error: error reading values after mobile

Any idea what might be causing this issue?

[2014-10-26 17:39] #20 closed, assigned to nobody

[2014-10-26 19:09] steffenweber opened #23 "Why "@media all and ..." instead of just "@media ..."?"
First of all, thank you for this mixin!

I'm wondering whether there is a reason for using `@media all and ...` instead of just `@media ...`? According to the [Media Queries specification](http://www.w3.org/TR/css3-mediaqueries/) both are identical (see Example 5). But obviously the latter is shorter/simpler. :smiley:

[2014-10-27 15:32] #23 closed, assigned to nobody

[2014-12-17 18:31] KittyGiraudel opened #31 "Quote strings"
I think we discussed it before @kaelig: strings should be quoted (in my opinion).

[2014-12-17 18:43] HugoGiraudel opened #32 "Add extra informations to @example"
Why not adding language and description to examples annotations?

[2014-12-17 18:45] KittyGiraudel opened #33 "Remove a useless variable"
[Here](https://github.com/sass-mq/sass-mq/blob/master/_mq.scss#L235-L236):

[code]

Could (should?) be:

[code]

No need to create an extra variable here.

[2014-12-17 18:47] KittyGiraudel opened #34 "Add backticks around values in warnings"
It is quite a convention at this point.

For instance:

[code]

Following conventions, we could have:

[code]

Same [here](https://github.com/sass-mq/sass-mq/blob/master/_mq.scss#L90).

[2014-12-18 08:50] KittyGiraudel opened #35 "Add a missing full stop to warning"
[Here](https://github.com/sass-mq/sass-mq/blob/master/_mq.scss#L90).

[2014-12-18 08:55] #35 closed, assigned to nobody

[2014-12-18 08:55] #34 closed, assigned to nobody

[2014-12-18 08:56] #33 closed, assigned to nobody

[2014-12-18 08:56] #31 closed, assigned to nobody

[2014-12-18 08:58] KittyGiraudel opened #41 "Simplify Sass syntax"
Parenthesis are often optional in Sass. We could remove them to simplify the code. Any thoughts?

[2014-12-18 09:03] #41 closed, assigned to nobody

[2014-12-18 09:07] KittyGiraudel opened #43 "Rename $until into $to"
The word `from` is often opposed to `to`. In order to make the API more intuitive, what about renaming `$until` into `$to`?

Note that this may trigger an API break.

[2014-12-18 09:08] #43 closed, assigned to nobody

[2015-01-07 17:37] micmath opened #45 ""is not a map" error"
Using Sass 3.4.9 (Selective Steve)

I get this error:

    error css/_mq.scss (Line 110: $map: "mq-add-breakpoint(gel-bp-type-c, 600px)" is not a map for `map-has-key')

[2015-01-07 17:48] #45 closed

[2015-01-07 17:49] micmath commented on #45
Problem was in my own code!

[2015-01-26 13:04] peleteiro opened #47 "sass-mq on npm"
I would be really nice to have sass-mq released on npm.

[2015-01-26 13:08] kaelig commented on #47
Thanks for using Sass MQ!

We've already had this debate in #22, and decided not to publish it for now

To install it as a node-module, please run:

[code]

[2015-01-26 13:08] #47 closed

[2015-01-31 18:19] ngryman opened #48 "Active breakpoint in a global variable."
Hey,

This is just an idea, I wanted to ask you if this makes sense.
I would like to be able to know which active breakpoint I'm writing code for. This would allow me to make decisions based on it (out of this ticket scope).

The basic idea would be to declare a global variable with the default breakpoint as initial value. The default value may depend on the approach used (mobile first, desktop fi

[2015-01-31 18:34] kaelig commented on #48
Thanks for using Sass MQ, Nicolas.

This is a brilliant idea :sparkles:, I had never thought about it, but I can see the power of this feature!

Would you care to open a Pull Request for it?

[2015-01-31 19:16] #48 closed

[2015-03-11 09:44] morganfeeney opened #50 "Support IE8 with media queries"
Have you considered rather than creating a separate stylesheet and detecting IE8, that you create your base styles which incorporate a fixed width and then override them with a min-width media query - which will be excluded from IE8 anyway as it's not supported?

[2015-03-11 11:02] kaelig commented on #50
Thanks for the interesting though, @mofeenster.

I believe you can already do what you suggest (manually) but I'm not sure how we could automate it using Sass. Any thoughts? Also, it sounds like it would lead to a lot of code. What do you think?

----
There's also another way to target IE8 which is using a `@media` hack:

[code]

I used this technique for the grid I've built at the Financial Times

[2015-03-11 11:42] mofeenster commented on #50
I'm looking at this from the point of CSS only, so haven't gone into the depths of automation as yet, but would be happy to at some point soon maybe.

The way I see it is if you create your responsive layout which expands and contracts to a maximum width where it is supported, then surely your layout will work in exactly the same fashion with a fixed width which you can designate to IE8.

I wrote

[2015-03-11 13:22] kaelig commented on #50
I'm not sure I see the benefit of the technique described in the article, since creating a separate stylesheet is really simple and allows for a mobile-first approach (which, if I undertsand well, you propose we could use a IE8-first approach, and then reset styles).

[2015-03-11 13:46] mofeenster commented on #50
Unless you define 'First' as being about the fixed width being first, which gets overridden by a media query, it's a progressive approach. Adding an extra stylesheet isn't necessary IMO, unless you plan to go crazy and want to be more organised.

[2015-03-11 13:54] kaelig commented on #50
I see your point. Can you show how would you do it with Sass?

[2015-03-11 14:08] mofeenster commented on #50
To be continued...
I will come back to you with some semblance of an example as soon as possible.

[2015-04-01 10:01] kaelig commented on #50
Closing this, @morganfeeney feel free to re-open it when there's an example you'd like to share.

[2015-04-01 10:01] #50 closed

[2015-04-01 10:02] kaelig commented on #32
Thanks @HugoGiraudel, I forgot to close this issue.

[2015-04-01 10:02] #32 closed

[2015-04-01 12:31] morganfeeney commented on #50
Hi, yes sorry about the delay. Thought I'd be working on some SASS stuff at work which would lead me to that example. Ended up using LESS and relearning stuff I had learnt with SASS, I'll get to it and will re-open later.

Thanks

[2015-06-08 11:16] meza opened #51 "npm support"
Hey @kaelig,

Have you ever thought about publishing this through npm too? I would love to avoid using bower for the sake of 1 project.

[2015-06-08 11:17] meza commented on #51
![puss-in-boots-o](https://cloud.githubusercontent.com/assets/211977/8033674/43348a5e-0dd8-11e5-98e1-36ba7f2427a6.gif)

[2015-06-08 13:07] #51 closed

[2015-06-09 10:38] kaelig opened #53 "Travis badge in readme shows "build unknown""
Which is weird because it builds: https://travis-ci.org/sass-mq/sass-mq/builds/66027987

@sndrs is there something to activate in the settings of the repo or directly on Travis?

[2015-06-09 10:45] magsout commented on #53
have push a commit after add travis on this repo ?

[2015-06-09 10:45] kaelig commented on #53
Yes and I'm pretty sure it used to show the correct badge. Might be a travis bug tbh.

[2015-06-09 11:05] sndrs commented on #53
yeah it did work previously

[2015-06-12 15:22] kaelig commented on #53
@sndrs is it activated here? https://travis-ci.org/profile/sass-mq

[2015-06-17 08:56] kaelig commented on #53
@sndrs can you have a look?

[2015-06-17 15:03] gajus opened #58 "Include a documentation example that shows how to define from-until"
I am assuming it is:

[code]

A documentation example would avoid the confusion. Generally speaking, [@include-media](http://include-media.com/) is more intuitive.

[2015-06-17 15:31] kaelig commented on #58
Thanks, this is a very valid point and I had never looked at the documentation from the perspective of somebody who sees it for the first time.

I've added an example in the introduction, does this help?

See https://github.com/sass-mq/sass-mq/blob/who-uses-sass-mq/README.md

[2015-06-17 15:42] gajus commented on #58
It does make more sense. The other thing thats not obvious is how to define whether lower/upper boundary is inclusive or exclusive.

[2015-06-17 15:57] kaelig commented on #58
I really like @eduardoboucas's work and I too think include-media is very intuitive.

Sass MQ takes a slightly different path by solving a few problems out of the box:

- Include-media is very permissive. It's easy to get overlapping media queries when using `>=` and `<=` operators. Sass MQ makes the choice of having exclusive upper boundaries, so that developers can't accidentally mess up. e.g. y

[2015-06-17 17:13] gajus commented on #58
This shouldn't be a concern of sass-mq. It should be left to https://github.com/scottjehl/Respond and other polyfills of the kind.

To an extent, this makes sense. However, this shouldn't be a concern of sass-mq either. There can be an additional abstraction or set of keywords that would enforce such a convention. Though limiting the entire API is not practical.

I am glad that you have reminded m

[2015-06-17 20:03] eduardoboucas commented on #58
Sorry for hijacking the thread, but @kaelig mentioned me and I started following the discussion.

What is the issue that you're having exactly?

As for the comparison between Sass MQ and include-media, @kaelig is right, they're two very different approaches. include-media was an attempt at a simpler syntax, but it's not as comprehensive as Sass MQ is, and probably never will be — a good example of

[2015-06-19 05:35] #58 closed

[2015-06-22 01:03] PatrickBrady commented on #20
Hi Kealig-
Really eager to use your mixin but I'm getting a similar error.

error sass/theme1.scss (Line 35 of sass/mixins/_mq.scss: Invalid CSS after "    mobile": expected ")", was ":  320px,")

It's a mapping issue I guess I'm running the latest version of Sass and Compass. I just reinstalled both as I was sure that was the issue.

[2015-06-22 07:34] kaelig commented on #20
Thank you for using Sass MQ!

Can you please let me know what version of Sass is running on the machine?

[2015-06-22 11:34] PatrickBrady commented on #20
Hi Kaellig-
Thanks for responding. I'm running 3.4.14, Selective Steve.

[2015-06-22 11:36] kaelig commented on #20
Interesting.

What command do you run to compile the project?
Do you use a program such as CodeKit to compile it? Or the `sass` command in the terminal?

[2015-06-22 11:39] PatrickBrady commented on #20
I'm using FireApp right now. I haven't gotten situated with Grunt yet.

[2015-06-22 11:41] kaelig commented on #20
It looks like FireApp uses its own version of Sass (not the one installed on the system). So it could be that an outdated version of FireApp is installed on your system. Can you update FireApp and try again?

[2015-06-22 11:45] PatrickBrady commented on #20
oh, that would make sense. Maybe I should try from the command line or using Scout

[2015-06-22 11:47] kaelig commented on #20
Looks like you can configure what version of Sass you'd like to run in FireSass. See http://fireapp.kkbox.com/doc/preference.html

[2015-06-22 11:52] PatrickBrady commented on #20
Thanks so much Kaelig for your help. I think there could be a problem with my version of Sass right now

[2015-06-22 11:57] kaelig commented on #20
No problem, and please let me know if you still have trouble making it work.

[2015-06-22 11:59] PatrickBrady commented on #20
You were a big help. Once I can get Sass working properly again I'll try again.

Thanks!

[2015-06-30 13:47] fvsch opened #59 "Stop converting media queries to em"
Hi,

sass-mq currently converts all breakpoints to `em` values, using a ratio of `1em = 16px` (that ratio can be changed but it would definitely create unexpected behavior for users, so it's a good thing the variable for that is not advertised). The rationale for converting to `em` was [browser limitations (January 2014 post)](https://css-tricks.com/zooming-squishes/) with zooming. More specifical

[2015-06-30 13:51] shaunbent commented on #59
Media queries defined with `em` are *always* based off 16px no matter what the base font size is set to.

I also thought it could be changed by the user but it was confirmed that its always 16px. I will dig out the tweets where I discussed this.

[2015-06-30 13:52] shaunbent commented on #59
Here we go, this was a resource I was pointed to: http://stackoverflow.com/a/29723215

[2015-06-30 14:11] kaelig commented on #59
Merci for using Sass MQ, Florent.

You're right, in most cases this is a non-issue.

The BBC and the Guardian, who are using this mixin are serving content to thousands of different devices with a huge variety of versions of Chrome, Safari, and other WebKit forks. In this context, it still is an issue, especially for BBC World Service who reaches many developing countries (you'd be surprised to se

[2015-06-30 14:11] #59 closed

[2015-07-02 10:05] fvsch commented on #59
@shaunbent, you write:

Which your source actually disproves:

For user agents, by convention that's 16px. But users may change their browser config to something else, and in that situation the media queries converted to `em` units would probably not match the author's intentions (if browsers do follow the spec).

[2015-07-02 10:51] davidhund commented on #59
Yes. If I'm not mistaken `em` values in media-queries are *always* evaluated relative to the **UA** font-size setting (most often ~16px, but could be changed).

So `1em` is *not* “always 16px”, but *is* always the *UA base font-size* setting…
(It takes the UA base font-size, *not* the `:root` font-size defined in your CSS)

Consider the following:
-  Your *default* UA's base font-size (`1em ~=  16

[2015-07-02 11:13] fvsch commented on #59
To be exact, it's the *user's* base font-size. (UA --> User --> Author styles).

They only match the author's intentions if authors have been careful to implement the whole site using `em`, or maybe `rem` (but they must not change the `font-size` of the root element in this case, so that it keeps matching the user's base font-size), and percentages.

This is an authoring bug that sass-mq creates:

[2015-07-02 11:29] davidhund commented on #59
Fair point @fvsch.
I've personally never ran into those issues because I author much based on `em`…
I can see how this could cause strange ‘bugs’.

I guess there's something to say for avoiding mixing units.
Perhaps sass-mq could offer a `$mq-unit` setting?

[2015-07-02 11:36] kaelig commented on #59
I recommend using `rem` units in combination with `em` media queries so that the whole UI is zoomed as the user changes their text size preference. The Guardian website is a good example of that behaviour.

If you see a use case where this would be an anti-pattern, can you please build a reduced test case that would show why?

[2015-07-02 11:47] davidhund commented on #59
@kaelig That would be my approach too, but I believe @fvsch makes a fair point: combining ‘absolute’ `px` sizes with ‘relative’ font-size based units could cause unexpected results.

Being very prescriptive in what sizing units people use is one way, but could easily be avoided with a setting, no?

[2015-07-02 12:16] fvsch commented on #59
@kaelig If you size containers using `rem` units, you will avoid this issue *but only if the root font-size is not changed by the author styles*. If you have a `html { font-size: 62.5% }` or `html { font-size: 125% }` for instance, you're in a bad place. :)

Currently with sass-mq you're helping users who zoom on old WebKits and possibly breaking things for users who change the base font-size in a

[2015-07-02 14:25] kaelig commented on #59
As far as I remember, The Guardian's root font-size [used to be set to 62.5%](https://github.com/guardian/guss-typography/blob/1467df799435c6e8bea9c2a96037a4bd2579ea0a/README.md#suggested-default-type-settings) and everything scaled very well.

Please provide reduced tests cases showing where things break, and where ems are considered harmful. I'll be happy to review them and will consider adding

[2015-07-02 19:25] fvsch commented on #59
Indeed I got it mixed up. -__-
It's only with `html { font-size: 16px` } or any unit other than a proportional one that things go bad.

[2015-07-03 06:58] fvsch commented on #59
I wrote [a few test cases](http://fvsch.com/code/em-media-queries/). They all involve having em in media queries and some content sized in pixels. For these tests I've used `width` mostly, and I'll agree that ideally people should use `max-width` to mitigate such problems, but I doubt people use `max-width` systematically *just in case*. Similarly, people might want to size blocks (when fixed widt

[2015-08-04 09:51] kaelig commented on #53
Looks like this fixed itself.

[2015-08-04 09:51] #53 closed

[2015-08-04 09:54] kaelig opened #61 "Travis build is failing"
Tests are running locally with success but it looks like there is an issue with the latest version of [Eyeglass](https://github.com/sass-eyeglass/eyeglass) when running on Travis, see:
https://travis-ci.org/sass-mq/sass-mq/builds/73874507

Stacktrace:

[code]

[2015-08-04 09:54] kaelig commented on #61
@chriseppstein is this an error you've seen before?

[2015-08-12 13:40] kaelig commented on #61
Thanks to @chriseppstein for fixing node-sass-utils in https://travis-ci.org/sass-mq/sass-mq/builds/73874507

[2015-08-12 13:40] #61 closed

[2015-08-24 15:20] NicolajKN opened #62 "Split media query string logic into separate function"
It would be awesome if the underlying logic could be split out into a separate function. The use case for this would be to support several breakpoints in one media query.

A possible syntax for this could be:

    @media ( #{ mq-string( $from: tablet, $until: desktop ) }, #{ mq-string( $from: 1000px, $until: 1200px ) }  ) {
      ...
    }

Unfortunately is seems the strings **have** to be interpo

[2015-08-24 16:50] mcaskill commented on #62
If one needs inspiration on how this can be done, my fork splits `mq()` into a _function_ and a _mixin_.

The function contains the brunt of the operations (i.e., chaining of media queries).

The mixin provides the `@media (...) {...}` wrapping.

https://github.com/mcaskill/sass-mq

Using the function:

[code]

Using the mixin:

[code]

[2015-08-27 10:02] kaelig commented on #62
Thank you for the suggestion, @NicolajKN.

@mcaskill, cheers for the pointers. I love your fork, you made something really advanced out of sass-mq!

[2015-08-27 13:45] kaelig commented on #62
I've looked at how we could extract the logic into a function. Unfortunately it would break consistency between the responsive and non-responsive modes.

Using the function would allow mixing multiple media queries but… would break the contract between the developer and sass-mq that states that loading it with `$mq-responsive: false` works in older browsers.

Thoughts?

[2015-08-27 15:32] mcaskill commented on #62
It only breaks the contract if the developer uses the _function_ outside of the _mixin_ when `$mq-responsive: false`. The violation is either voluntary or a mistake. We could throw a `@warn` with a message along the lines of a.

[code]

Obviously for such an exception to be thrown, we'd need a variable that could track when the function is called outside of the mixin.

[code]

This is a quick solu

[2015-08-29 13:52] kaelig commented on #62
Thanks for taking the time to write that code, @mcaskill.

Looks like an interesting thing to have in a future version of sass-mq where we drop support for IE8. It would also make the logic easier to test.

In the mean time, I'm not comfortable with breaking this down in a mixin and a function.

Also, the `mq()` function seems really easy to code, so I'd encourage users to create their own fork or

[2015-08-29 13:52] #62 closed

[2015-09-15 23:26] kaelig opened #66 "Use `npm test` instead of relying on `./test.sh`"

[2015-10-21 16:39] davidangel opened #70 "Error: media query expression must begin with '('"
I'm getting this error with the latest version of node:

    Error: my/path/to/_mq.scss
    218:50  media query expression must begin with '('

I'm not even sure what dependency might be at fault here, so I'm sorry if I'm way off. Any ideas about why this might be occurring?

[2015-10-21 18:28] kaelig commented on #70
Thanks for reporting this, can you list the versions of node-sass, node and npm that are used on the machine so that I can recreate the environment?

[2015-10-21 19:01] davidangel commented on #70
gulp-sass: ^2.0.4 (node-sass: ^3.0.0)
    node: 4.2.1
    npm: 2.14.7

Probably should have mentioned those details on the frontend. :-)

[2015-10-21 19:24] kaelig commented on #70
Thank you again! I will have a look in a few days when I have access to a dev machine again.

[2015-10-25 23:59] davidangel commented on #70
A closer look into our code base revealed that we had called the _mq mixing in some places with three arguments. This resulted in the error mentioned here. This appears to be a non-issue, unless you'd like to improve error messaging. Thanks!

[2015-10-26 06:07] kaelig commented on #70
Thank you, and no problem at all. I will close this, but thank you for the suggestion: if this comes back again I might look into improving warning messages.

[2015-10-26 06:07] #70 closed

[2015-11-25 19:20] PJL101 opened #71 "issue with eyeglass and npm 3"
Hi,

With Node 5.1.0 & Eyeglass 0.7.1, sass-mq isn't importing as the 'sass/index.scss' file is missing when you install the package. I have made a (confirmed working) pull request to address this by adding the file to the package.json files list.

Cheers.

[2015-11-25 20:49] #66 closed

[2015-11-25 20:50] kaelig commented on #71
Thank you again, it should be fixed in v3.2.5.

[2015-11-25 20:50] #71 closed

[2015-11-26 18:43] kaelig commented on #59
Dear all, can you please test the new version beta?

[code]

[code]

Let me know how this works out for you!

[2015-11-27 15:38] codev0 opened #74 "Function mq-get-breakpoint-width finished without @return"
Hey.

I have `Function mq-get-breakpoint-width finished without @return` issue.

[2015-11-27 16:28] kaelig commented on #74
Thank you for using sass-mq!

Can you please provide the code that runs and I'll try to help.

[2015-11-28 16:08] halt-hammerzeit commented on #70
I'm having this error too.
My code:

[code]

[2015-11-28 16:20] kaelig commented on #70
@halt-hammerzeit is this related to sass-mq?

[2015-11-28 16:21] halt-hammerzeit commented on #70
oh, I missed the project apparently.
I'll open an issue in `node-sass`

[2015-11-28 16:22] kaelig commented on #70
No problem. Looking at the code provided: I'm not sure Sass allows importing inside media queries.

[2015-12-15 08:30] ryuran opened #75 "mq(hdpi) and height"
Hello,

I use Sass-mq on several project.
I would use it for some other rules.
* min and max height
* hdpi

Can it be added ?

[2015-12-15 16:59] kaelig commented on #75
Thank you for using sass-mq, @ryuran.

min and max height can be added using the `$and` parameter. The reason why these use cases are not supported with their own parameters is the IE8 support (the fallback wouldn't work).

When it comes to hidpi, have you checked my other project? GitHub.com/kaelig/hidpi

[2015-12-15 17:00] #75 closed

[2015-12-15 17:01] kaelig commented on #74
Closing as this is a few weeks old without getting any additional info.

[2015-12-15 17:01] #74 closed

[2015-12-16 08:24] ryuran commented on #75
Thanks @kaelig. I give a look to your hidpi mixin.

[2016-01-30 16:04] PJL101 opened #79 "eyeglass 0.8 throws a warning with sass-mq"
Hi,

Every time you run node-sass, eyeglass produces an error saying:

[code]

After looking at the eyeglass documentation, I have created a PR https://github.com/sass-mq/sass-mq/pull/78 which adds required information to the package.json. I have also bumped the required eyeglass version because of this change.

I believe this is correct but let me know if I need to make any changes.

[2016-01-30 17:54] kaelig commented on #79
Hi, thank you so much for submitting this fix.

I already had a branch (see `update-dependencies` in #77)  but did not do a release yet.

Can you try installing sass-mq with `npm install sass-mq/sass-mq#update-dependencies --save-dev` and let me know if it works for you?

[2016-01-30 17:59] PJL101 commented on #79
Apologies @kaelig I didn't see the branch.

Tested the above locally and on Travis - https://travis-ci.org/PJL101/foley/builds/105909333, confirmed fixed.

[2016-01-30 18:38] kaelig commented on #79
Thank you, I'll make a release then!

[2016-01-30 18:41] kaelig commented on #79
Fixed in 3.2.6.

[2016-01-30 18:41] #79 closed

[2016-01-30 18:41] PJL101 commented on #79
Great, thanks for looking at this so quickly!

[2016-02-10 10:52] coffeeneed opened #81 "Problems with responsive elements not snapping in place after browser resize"
Hi!

I posted this in the at the Jeet.gs repo: https://github.com/mojotech/jeet/issues/461

Anyone know if this can be a sass-mq issue?

Thanks :)

[2016-02-10 10:56] shaunbent commented on #81
I'm sure this is not a problem with `sass-mq` and is more likely to be user error.

[2016-02-15 19:20] kaelig commented on #81
Hi @coffeeneed, thanks for using sass-mq!

Not sure this is related to sass-mq directly but can you please share a reduced demo of the bug so we can have a look at it?

[2016-02-22 10:56] TxHawks opened #82 "Add ability to specify predefined values for `$and`"
I think it makes sense to be able to specify a media-query name in the `$and` parameter, rather than a string. It is a much better fit for the bridging-the-gap-between-designers-and-developers philosophy.

After all, when people want to display a different image on high density screens, they mostly think of it as 'lets show a higher resolution image on `retina` or `hidpi`', not as 'lets show a hig

[2016-02-23 21:40] kaelig commented on #82
Thank you for using sass-mq, @TxHawks.

This is an interesting suggestion but isn't that something that would be doable using variables?

[code]

PS: you might want to look into this too: https://github.com/kaelig/hidpi

[2016-02-23 21:50] TxHawks commented on #82
I do know and like `hidpi` (and the rest of your work), and yes, of course, it could be done with a variable, same way the length definitions could technically be done with variables. However, I think that the idea of having a map is to offer better organization and lowering the cognitive overload.

I think this is especially helpful for designers, who can reasonably just expect their media-query

[2016-02-23 22:33] kaelig commented on #82
Adding such functionality for `$and` as a "core feature" means we need to deal with it correctly when "responsive mode" is turned off. And on the top of my head I'm not sure how we'd do that.

Closing this as the functionality is something that's already doable in other ways.

[2016-02-23 22:33] #82 closed

[2016-03-05 08:20] kaelig commented on #81
Closing this issue as it hasn't been updated in about a month. Feel free to reopen if you are still encountering this problem.

[2016-03-05 08:20] #81 closed

[2016-03-06 05:41] kaelig opened #84 "What future for Sass MQ?"
## Observations
- [Custom media queries](https://drafts.csswg.org/mediaqueries-4/#custom-mq) are around the corner.
- Sass 4.0 will [support the future Media Query syntax](https://github.com/sass/sass/issues/1864).
- IE8 is disappearing, making Sass MQ's [Responsive Mode: Off](https://github.com/sass-mq/sass-mq#responsive-mode-off) less and less useful.
- There are new features in Media Queries Le

[2016-03-19 17:25] kaelig opened #85 "Tests are failing on Travis"
The tests are running correctly (and passing) locally but are stalling on Travis CI:

https://travis-ci.org/sass-mq/sass-mq

I'll investigate when I have some time, but if you'd like to help (or test on Circle CI instead?), please do!

[2016-03-19 18:21] #85 closed

[2016-03-20 16:57] peterklein opened #87 "Parser error"
Some CSS parsers will break, when using the "mq-show-breakpoints" mixin. The reason for this is the "≥" sign. I used this in a CoreMedia system which minified the css and breaked then on this part

[2016-03-20 20:18] kaelig commented on #87
Sorry to hear this! If you manage to find a fix, can you submit a pull request (or let us know what the fix is)?

[2016-03-28 11:25] slavanga commented on #84
I think Sass MQ will still be relevant because we won't get these benefits from Media Queries level 4 or the Sass 4.0 syntax:
* automatic unit conversion
* compact and minimal syntax
* mobile first behavior as default

Dropping support for the non-responsive mode is a good idea. I have never used it in a real project.

[2016-04-05 13:24] Nazcange opened #88 "My company uses Sass MQ"
Hi, we're using Sass MQ at Le Figaro for the site [tvmag.lefigaro.fr](http://tvmag.lefigaro.fr) and we'd like to be mentionned in the README of the project. Cheers!

[2016-04-05 14:52] hllwd commented on #88
http://tvmag.lefigaro.fr actually

[2016-04-05 16:00] lucascherifi commented on #88
@Nazcange Try a PR :)

[2016-04-05 16:55] #88 closed

[2016-04-05 16:56] kaelig commented on #88
Merci for the ping, glad to see Sass MQ is useful for other newspapers!

[2016-04-13 00:32] kaelig commented on #87
Looks like there is a solution but I think it's the responsibility of other systems to fix it.

https://github.com/mesmerismo/sass-mq/commit/4d94911910a72d5b36105f5076e94b3dd41af1d8

[2016-04-13 00:32] #87 closed

[2016-06-16 21:50] fvsch commented on #84
I’d remove the non-responsive mode, because it gets less and less useful (and people who need it can keep using the current sass-mq or use a specialized tool). You’ll get a leaner codebase and less features to focus on. But of course if there are no other updates planned, it might not be worth the trouble.

By the way, custom media queries were pushed out of Media Queries 4, and moved to “maybe fo

[2016-06-23 08:36] certainlyakey opened #89 "How to import sass-mq in a project when installed from npm"
Hi! I installed `sass-mq` with npm using `npm install sass-mq --save` and tried all the combinations then to import it in a SASS file. These are:

- `@import '_mq';`
- `@import 'mq';`
- `@import '_sass-mq';`
- `@import 'sass-mq';`
- `@import '_mq()';`
- `@import 'mq()';`
- `@import 'sass-mq/mq';`.

Only the "full" path version `@import './node_modules/sass-mq/_mq';` has worked. Still, is there a s

[2016-06-23 18:30] kaelig commented on #89
Hi @certainlyakey, thank you for using Sass MQ!

Have you tried using [Eyeglass](https://github.com/sass-eyeglass/eyeglass) to load Sass MQ?

Then your import should look like this:

[code]

[2016-06-24 17:35] certainlyakey commented on #89
Hi! Thanks for the answer. I thought it was optional to use eyeglass? So that's the only way to import it that "simple" way, right?

[2016-06-24 17:40] kaelig commented on #89
You are correct, it is optional to use Eyeglass.

As an alternative, you may want to look into `includePath` in node-sass. Hope this helps!

[2016-06-25 07:52] certainlyakey commented on #89
OK, thanks!

[2016-06-25 07:52] #89 closed

[2016-07-25 11:07] csswizardry opened #90 "My company uses Sass MQ"
Hi, we're using Sass MQ at [inuitcss](https://github.com/inuitcss/inuitcss) and we'd like to be mentioned in the README of the project. Cheers!

[2016-07-25 11:08] phamann commented on #90
No.

[2016-07-25 17:26] kaelig commented on #90
Thanks for using Sass MQ! Fixed in 8ac052f9d19d9bbcc907c1616ad99543d30a462b :)

[2016-07-25 17:26] #90 closed

[2016-08-09 14:50] nico3333fr opened #91 "Combination with print styles ?"
Hi there,

I've seen a particular case: a website in made in mobile-first, and it would need for printing output to have desktop styles applied for print.

Would it be possible to generate something like
[code]
with sass-mq ?

Thanks for your advice,
Nico

[2016-08-09 17:15] kaelig commented on #91
Thank you for the question!

With sass-mq the way to serve desktop styles to print would be to output a print-specific stylesheet with responsive mode turned off.

If this is something that you'd rather do with the syntax you suggested, feel free to fork sass-mq and add this feature to it, it should be pretty straightforward.

[2016-08-10 08:05] alexcarbajo opened #92 "My company uses Sass MQ"
Hi, we're using Sass MQ at [Hotelbeds Group](http://group.hotelbeds.com/) in different ecommerce websites and we'd like to be mentioned in the README of the project. Cheers!

[2016-08-16 22:10] #92 closed

[2016-09-10 20:03] kaelig commented on #91
Closing this as there was no activity for a month.

[2016-09-10 20:03] #91 closed

[2016-10-25 16:45] michaeljota opened #93 "How to use media expressions"
Hi! Thanks for this excellent tool. I'm wondering how I can set a map of media expressions. Something like

[code]

[2016-10-25 19:04] kaelig commented on #93
Hi @michaeljota! Thank you for using sass-mq!

This is not a thing for now, but feel free to open a pull request if you end up implementing it!

[2016-10-26 00:08] michaeljota commented on #93
Thanks! I'll take a look in my free time... :D. I think it would be a nice thing to have.

[2016-10-28 15:08] HarveyWilliams opened #94 "$mq-show-breakpoints not working."
I'm using:

[code]

But no `:before` element is appearing on my body element in the browser (tested on FF49 and Chrome 54).

Am I using MQ right? I can see the original pull request here: https://github.com/sass-mq/sass-mq/pull/7

[2016-10-28 18:25] kaelig commented on #94
Thank you for the question and for using Sass MQ, @HarveyWilliams!

Adding this at the end of the file should help:

[code]

This is an undocumented feature, apologies for the inconvenience!

****

However, I'd recommend using Sass MQ like this:

[code]

This way, $mq-breakpoints will only contain your breakpoints and not the default ones.

[2016-11-03 15:17] HarveyWilliams commented on #94
Thanks @kaelig. I updated the readme to reflect the information you shared with me: https://github.com/sass-mq/sass-mq/pull/96

[2016-11-15 11:06] mhlozek opened #97 "My company uses Sass MQ"
Hi, we're using Sass MQ at Beneš & Michl (http://www.benes-michl.cz) and we'd like to be mentionned in the README of the project. Cheers!

[2016-11-15 20:26] #97 closed

[2016-11-15 20:26] kaelig commented on #97
Thank you for using Sass MQ and letting me know, this is great news!

[2016-11-30 00:29] #94 closed

[2017-01-06 12:06] JayBox325 opened #98 "Compiled CSS with $until tag is not '$breakpoint - 1'"
I am using your breakpoints on a project and an $until query is not taking 1 away from my breakpoint. See below:

[code]

Is being compiled into:

[code]

In this case, some styles from the `$until` breakpoint are being displayed during the 1px overlap at the `$from` breakpoint causing some issues.

Thanks,
Jay

[2017-01-06 17:50] kaelig commented on #98
Thanks for reporting this, can you specify what version of Sass you are using?

Also, are you using a CSS minifier?

[2017-01-22 22:05] coffeeneed commented on #84
Is sass-mq dead?

[2017-01-23 00:01] kaelig commented on #84
@coffeeneed sass-mq is alive and well. It will get keep getting updates for new versions of Sass.

[2017-02-06 22:08] kaelig commented on #98
Closing this as it hasn't gotten any answers in a month.

[2017-02-06 22:08] #98 closed

[2017-02-06 22:09] kaelig commented on #98
Also, this is not a bug. Passing a number honors the passed value. Passing a keywords removes a "pixel".

See https://github.com/sass-mq/sass-mq/blob/master/_mq.scss#L188

[2017-02-06 22:10] kaelig commented on #93
Closing this for inactivity.

[2017-02-06 22:10] #93 closed

[2017-03-27 06:04] coffeeneed opened #100 "Feature request and question"
I've been making web pages lately without thinking of high resolution monitors (Quad HD, 4k, Retina, what'not). So after buying a 1440p monitor I notice my web pages also should be optimized for this resolution.

**Can predefined breakpoints for higher resolutions be bundled with sass-mq in the future?**

[code]

[2017-03-27 06:50] kaelig commented on #100
Thank you for using sass-mq, @coffeeneed!

I rarely run into extra-wide monitor use cases but if someone has thoughts about it I'd definitely be interested in hearing them.

[2017-04-12 14:20] solleer opened #101 "Sort mq-breakpoints when adding breakpoint"
When adding a breakpoint with the `mq-add-breakpoint` mixin, can the function sort the breakpoint list. This prevents libraries that loop over the mq-breakpoints from having breakpoints added later overtaking larger breakpoints.
For instance, in my code I added a phablet breakpoint. It put it on the end of the list so when inuitcss generates the width utilities the phablet one is generated later t

[2017-04-12 15:47] kaelig commented on #101
Thank you for this feature request, it's definitely something that the mixin should be doing.

Reference for later: I've dealt with this in the past when working on o-grid, see https://github.com/Financial-Times/o-grid/blob/master/src/scss/_main.scss#L6

[2017-05-23 02:23] kaelig commented on #101
@solleer Hey! Thank you for your patience… I've just released `sass-mq@v4.0.0-beta.1`, let me know how it works for you!

[2017-07-21 10:00] ManfredWisniewski opened #105 "documentation: $and: '(orientation: landscape)')"
#I cannot figure out how  to use $and: '(orientation: landscape)') in sass_mq

Can you please elaborate in the documentation?

Thank you!

[2017-07-21 17:40] kaelig commented on #105
Hi @ManfredWisniewski, thank you for using sass-mq!

May I ask: what are you trying to achieve, and what seems unclear?

[2017-07-27 19:40] ManfredWisniewski commented on #105
Hi @kaelig Thanks for your answer!
I misread the example in your documentation. I thought that somehow sass-mq has its own handling for orientation.  But then I figured out its just a combination of sass-mq with the normal media query. :)

[2017-07-27 19:40] #105 closed

[2017-11-06 20:30] iusenko opened #106 "Different behavior for $until"
I have defined variable for breakpoints
[code]
and when I am using $until it has different behavior
[code]
the result is :
[code]
I think it is wrong behavior and in both cases should be max-width: 989px.  What do you think?

[2017-11-06 20:45] kaelig commented on #106
This is the expected behavior: passing a number instead of a reference to a named breakpoint should return that number.

[2017-11-06 20:45] #106 closed

[2017-11-06 20:58] iusenko commented on #106
I think it is not obvious. If I am using $until it have to be until the number. Why I should remember that there is difference? And for consistent it would be better to do the same behavior for both cases.

[2017-11-06 21:07] kaelig commented on #106
The reasoning is that people passing a number would want `$until` to exactly equal that number.

The recommended usage is sticking to breakpoint references instead of passing numbers. Feel free to fork or copy-paste sass-mq and adapt it to your needs if the default behavior doesn't work for you ❤️

[2017-11-06 21:12] kaelig commented on #106
Final note: passing numbers to `mq()` is not documented because it's not the recommended use. Passing keywords is the best practice that sass-mq is trying to enforce.

[2017-11-25 15:45] simonproudfoot opened #107 "Manchester international festival"
Hi there, we use sass MQ for all of our web projects. Nice work! :)

[2017-11-26 04:20] #107 closed

[2017-11-26 04:20] kaelig commented on #107
Thank you for using sass-mq! The site looks awesome by the way :)

[2018-01-13 17:53] #101 closed

[2018-01-13 18:34] kaelig opened #108 "Documentation settings chores"
Hey @sndrs, I need your help to change some settings on this repo 👋

- [x] GitHub Pages: set the gh-pages source to **"master branch /docs folder"**
    ![ ](https://help.github.com/assets/images/help/pages/select-gh-pages-or-master-as-source.png)
- [x] Set this repo's URL to `https://sass-mq.github.io/sass-mq` (https instead of http)

Thank you!

[2018-01-14 17:12] sndrs commented on #108
done and done!

[2018-01-14 18:01] kaelig commented on #108
Fab, thank you!

[2018-01-14 18:01] #108 closed

[2018-02-10 00:40] danieltorrer opened #109 "Add multiple $and mixin"
I'm trying to code something like this `@media only screen and (min-width:460px) and (max-aspect-ratio: 13/9)` . I cant find in the docs how to achieve that. I tried passing its values in an array `@include mq($until: mobile , $and: ['(orientation: portrait)', '(max-aspect-ratio: 13/9)'])` with no luck. Is it possible? Thanks

[2018-02-10 03:10] kaelig commented on #109
Hi @danieltorrer, thank you for using sass-mq!

Have you tried having all the `and` statements inside a single string?

[code]

And would it work for your use-case?

[2018-02-12 17:09] danieltorrer commented on #109
@kaelig Thank you for maintaining this awesome library

It worked with your solution, i should have know it was that easy.

[2018-02-12 17:09] #109 closed

[2018-06-11 23:12] kounelios13 opened #112 "Example of showing active break point"
Hello.I am trying to show the current breakpoint in the screen .However nothing shows up.
Here is is my code:
[code]

Can you post the bare minimum code snippet needed to show the current active breakpoint on the screen?Thanks in advance

[2018-06-11 23:34] kaelig commented on #112
Thank you for using sass-mq and for asking about this, I just improved the documentation for this particular use case (see 80c98a0db1c551ba7ecce9a8d8ab4d9faf3ceb67).

The way it works is with a list of the breakpoints you want to see. In the case you're referencing:

[code]

[2018-06-11 23:37] #112 closed

[2018-06-11 23:38] kaelig commented on #84
Closing this in case it raises concerns about the future of sass-mq.

[2018-06-11 23:38] #84 closed

[2018-06-11 23:52] kounelios13 commented on #112
I tried your code but it is not working.It makes my sass file unable to compile

[2018-06-11 23:53] kounelios13 commented on #112
Here is my full code:
[code]

[2018-06-12 00:01] kaelig commented on #112
This compiles just fine for me. What is the error? Is `mq.scss` at the same level as your file?

[2018-06-12 03:19] kounelios13 commented on #112
yes it's in the same level

[2018-06-12 03:20] kounelios13 commented on #112
Failed to compile /home/mkcodergr/Documents/GitHub/app-list/src/styles/main.scss: Error: 20em isn't a valid CSS value.

[2018-06-12 03:59] kounelios13 commented on #112
It appears to be a bug in my scss compiler.I use your library in an electron project in which I use electron-compile to compile sass files.I tried to use koala compiler and it worked

[2018-06-22 22:40] mikemai2awesome opened #113 "Subpixel issue in FF and IE11"
After extensive testing, I believe this value should go down one more decimal for it to work perfectly with FF and IE11. It should be `0.001em` instead of `0.01em`.

https://github.com/sass-mq/sass-mq/blob/47cd6b1156d35a702edd3fbed0bcd285dcd95d29/_mq.scss#L195

[2018-06-22 23:21] kaelig commented on #113
Thank you for using sass-mq and for the bug report!

Could you please post screenshots and detailed specs of all browsers tested?

[2018-06-23 01:13] mikemai2awesome commented on #113
![bp](https://user-images.githubusercontent.com/3027663/41804238-eee568a2-7660-11e8-8273-acd1a1404237.jpg)

[code]

The tablet breakpoint is not exactly at 740 if the browser zoom level is not at 100%.

[2018-06-23 06:21] kaelig commented on #113
Thanks so much, this is very helpful! Does the 0.001em fix work better in all browsers / devices?

[2018-06-23 16:09] mikemai2awesome commented on #113
Yes. 0.001em makes it work perfectly.

[2018-06-24 21:10] kaelig commented on #113
@tzi seems to have spotted an issue with a `0.001em` separation:

https://tzi.fr/css/prevent-double-breakpoint/

It feels like we may be trading one problem for another :/

[2018-06-27 14:16] tzi commented on #113
Sad truth...
I will program to make some new tests, mines are 4 years old now.

[2018-06-28 20:36] mikemai2awesome commented on #113
I think the problem lies in the conversion math, at some point, something is not going to add up. Would this be a problem if breakpoints are always defined in `em` and there is no conversion from `px` to `em`?

[2018-06-28 22:43] kaelig commented on #113
Unless I'm misunderstanding something in your question, I'm not sure how this would help, considering the mixin would remove `0.01em` anyway?

[2018-06-29 15:14] mikemai2awesome commented on #113
Right, separate issue.

So what have you find in your own browser testing? Is there a solution to address this?

[2018-06-29 15:23] kaelig commented on #113
I haven't had time to get to it, sorry! I'd say the only solid solution is to use media queries level 4, with `<=`, `>=`, `<`, `>` operators.

[2018-08-20 01:21] JessicaYeoh opened #114 "Function mq-get-breakpoint-width finished without @return"
this function finished without @return??

unsure if this a common issue.

[2018-08-20 02:07] kaelig commented on #114
Hey @JessicaYeoh - thanks for using sass-mq!

Can you share some of your code?

Seems like you may be running into an issue where the breakpoint’s name wasn't found.

[2018-08-20 07:45] JessicaYeoh commented on #114
i am using it in a laravel project and the only thing i have done so far is import sass-mq into my sass file.

As follows:
@import '~sass-mq/mq';

it then immediately comes up with the error i mentioned

[2018-08-20 18:05] kaelig commented on #114
Thanks, I'll need more information to reproduce:
- what's the version of Sass and is it node-sass or something else?
- what does the webpack config look like (if any)?
- What's the version of Node.js?

Anything else to help reproduce the issue would be very helpful.

[2018-08-21 00:33] JessicaYeoh commented on #114
sass version is v10.4.1

This is the package.json file:
{
    "private": true,
    "scripts": {
        "dev": "npm run development",
        "development": "cross-env NODE_ENV=development node_modules/webpack/bin/webpack.js --progress --hide-modules --config=node_modules/laravel-mix/setup/webpack.config.js",
        "watch": "npm run development -- --watch",
        "watch-poll": "npm run watch -

[2018-08-24 22:34] kaelig commented on #114
10.4.1 is the version of Node, I take it.

It'd be very useful if you could set up a reduced test case in a repository I can access (or give me access to your repo), as I'm not sure how to reproduce the bug with what you gave me.

[2018-08-25 05:06] tamtm opened #115 "It's just too long, I'd rather use @media instead"
this is not a hate speech, I just wanna have a comment on this.
Libs is supposed to help we code faster, less typing, and simpler abstraction.
Your library didn't achieve any (maybe a little bit of simpler abstraction)

happy coding!

[2018-09-04 16:55] kaelig commented on #115
Sure, sass-mq is not for everyone 👍

[2018-09-04 16:55] #115 closed

[2018-09-27 19:11] halo commented on #74
Turns out, this error occurs when you try to use a breakpoint name that has not been defined and you happen to [not see the warning](https://github.com/sass-mq/sass-mq/blob/47cd6b1156d35a702edd3fbed0bcd285dcd95d29/_mq.scss#L117) somewhere in the log higher up.

[2018-10-04 10:37] seothemes opened #116 "Stop converting media queries to em"
Reopening #59. This no longer works:

[code]

Users should be able to choose the media query unit. There needs to be a way to override `mq-px2em`.

[2018-10-08 11:07] kaelig commented on #116
Thanks for using sass-mq! The final resolution for this issue can be found here: https://github.com/sass-mq/sass-mq/pull/65#issuecomment-198752907

[2018-10-08 11:07] #116 closed

[2018-10-08 11:08] kaelig commented on #114
Closing this as it is lacking a reduced test case.

[2018-10-08 11:08] #114 closed

[2018-10-08 11:10] kaelig commented on #113
Closing this as this seems to be a rare occurrence.

Feel free to open a pull request, I'll be happy to publish a beta so we can rally a few users of sass-mq that can attest that this is not breaking existing behavior.

[2018-10-08 11:10] #113 closed

[2018-10-09 15:32] seothemes commented on #116
Yes but also see https://adamwathan.me/dont-use-em-for-media-queries/

The tests in the blog post you referenced were incorrect, therefor pixels are still the best option.

Why not support both? Would you accept a PR?

[2018-10-15 22:40] kaelig commented on #116
How so? The author of https://zellwk.com/blog/media-query-units/ does mention Safari doesn't handle zoom + em media queries correctly and still comes to the conclusion that em-based media queries are the most sensible choice.

Sass MQ is an opinionated library that goes in the sense of enabling accessibility, not hindering it. Hopefully Safari fixes their implementation! There is a bug open here:

[2018-11-16 10:55] bekahmcdonald opened #117 "My company uses Sass MQ :)"
Hi, we're using Sass MQ at Taylor/Thomas and we'd like to be mentioned in the README of the project. Cheers!

http://www.taylorthomas.co.uk

[2018-12-13 21:50] pieplu opened #118 "Using sass-mq with webpack / create-react-app looks like broken"
Looks the same bug as #114

I guess than webpack sass-loader / create-react-app config is more strict now. (it works on the past)

Step to reproduce:
- Create an app with [create-react-app](https://facebook.github.io/create-react-app/)
- install sass-mq with npm
- install node-sass and import a stylesheet who use sass-mq [doc](https://facebook.github.io/create-react-app/docs/adding-a-sass-styleshe

[2019-01-10 22:16] #117 closed

[2019-01-10 22:17] kaelig commented on #117
Thank you for using Sass MQ!

[2019-01-19 19:21] kaelig commented on #118
Bonjour Alexis,

I couldn't reproduce the issue myself.

Can you try this code in `App.scss`?

[code]

It works locally on my machine with the latest create-react-app.

---

On certain stacks, you may need to import it this way: `@import '~sass-mq/mq';`.

See a working example in this CodeSandbox: https://codesandbox.io/s/04xqpljp60

Hope it helps, and please reopen this issue if the problem persi

[2019-01-19 19:21] #118 closed

[2019-01-21 15:18] pieplu commented on #118
Bonjour!

Now, I'm not able to reproduce too. I have updated CRA since the report, maybe it's an issue of libsass or other.

Have a nice day!

[2019-07-09 13:20] ricardo-afonso opened #122 "Breakpoints at wrong width"
I've ran into a issue and I'm not entirely sure what's causing it.

Currently building a website, where I have on the `_variables.scss` a `$base-font-size: 14pt`. This file is imported before the `_mq.scss` file.

In another file, I use it in the `html` selector to set a global font size, so that it gets inherited down.  Following that, and to keep things consistent, I've set the `$mq-base-font-si

[2019-07-09 20:37] kaelig commented on #122
Hi, thank you for using sass-mq!

`14pt` is using the `pt` unit, which may not work as expected.

Furthermore, `1em` is always equal to 16px in media queries – the `_mq.scss` file makes it look like `$mq-base-font-size` a configurable setting, but it’s a mistake that we should fix.

Leave `$mq-base-font-size` as is, and everything should work as expected.

[2019-07-10 11:06] ricardo-afonso commented on #122
Thanks. `$mq-base-font-size` does seem like a configurable setting.  I even tried to use 19px as a base font size value ( It's the closest pt to px converted number) and the issue persisted.

Leaving it at 16px does solve the issue, thanks!

[2019-07-12 15:47] #122 closed

[2019-08-01 05:01] Adit-COCO-Garg opened #124 "MQ EM issue"
I tested out the mq library and for some reason it seems to be producing incorrect mqs.
It was unable to calculate breakpoints in ems for smaller sized screens. I tested this on a iphone x and also on virtual devices in google dev tools.

[code]
When the scss was compiled, it resulted in the following scss:

[code]
I was trying to display orange as the background for screen sizes greater and equal

[2019-08-01 05:41] kaelig commented on #124
Thank you for using sass-mq - can you provide a project on GitHub or CodeSandbox (or other platform) so I can try reproducing the bug?

[2019-08-02 04:35] Adit-COCO-Garg commented on #124
I have shared access to the repo to you.

[2019-08-02 06:59] kaelig commented on #124
Thank you! Have you tried adding a viewport meta to the head of your document?

[code]

Also, please don't edit breakpoints in the library itself (the documentation explains how to override the mq-breakpoints map the right way).

Closing this, feel free to reopen if this still doesn't work.

[2019-08-02 06:59] #124 closed

[2019-08-15 17:18] yoanmalie commented on #93
I would like to see this, even for the `prefers-reduced-motion` one.

[2019-12-21 10:10] granttransition opened #129 "Function finished without @return"
I see this has been raised a couple of times without resolution.

I included sass-mq via npm and included the basic requirements with an `responsive.scss` partial.

[code]
Upon running the project I receive the error (Laravel-mix `npm run watch`)
[code]
The error has an issue with `@function`. I know this is only a warn, but sass-mq isn't being pulled into the project whilst this error occurs.

[2019-12-24 15:18] #129 closed

[2019-12-24 15:20] granttransition commented on #129
Totally my fault, Sass Mq needs something to process or it will show an error

[2020-02-21 11:26] nickcolley opened #130 "Empty mixin output when $mq-responsive is false can break extending placeholders"
When using mq inside a placeholder it can return empty when responsive is set to false which makes the placeholder throw an error when being extended.

Test case:
https://gist.github.com/nickcolley/4d93df08909b533b196ed5581ef778c4

https://www.sassmeister.com/gist/4d93df08909b533b196ed5581ef778c4

## Actual

[code]

## Expected

Perhaps sass-mq could check if there's content to output and give use

[2020-03-05 09:17] beneverard commented on #129
@granttransition Can you share what that was for others to see too?

[2020-03-05 09:32] granttransition commented on #129
This was a while ago, but if I remember correctly, you have to setup something that requires Sass Mq before it will work.

[2020-10-27 19:00] landwire opened #134 "Would it be possible to support rem as units as well?"
I wanted to use rem as a unit for my breakpoints, but sass-mq did not like it:

[code]

That's because of the mq-px2em function. Is it somehow possible to use rem anyway?

[2020-11-13 12:01] weinde opened #135 "Creating a custom device specific breakpoint"
Hey

I'm just wondering is it possible to create a breakpoint that has width and height and also device pixel ratio predefined
Example of outputed css i want:

[code]

How would one go about creating such an mq-breakpoint?

[2020-11-13 13:22] mcaskill commented on #135
I haven't used my fork in a while 😅 buy it might provide some assistance: https://github.com/mcaskill/sass-mq

[2020-11-13 20:23] kaelig commented on #135
For complex/composed media queries such as the one you're looking to have as a predefined setting, I'd recommend using a custom mixin (which could wrap sass-mq), a fork of sass-mq, or even another library entirely.

Alternatively, you could do this:

[code]

I hope this helps!

[2020-11-13 20:23] #135 closed

[2020-12-12 06:13] kaelig commented on #134
Hi, thank you for using Sass MQ, and apologies for the late reply.

`em` and `rem` are equivalent in media queries (based on a 16px root font size). This means `1rem` = `16px` in a media query, but this isn't necessarily true in other parts of the code.

[code]

This possible discrepancy introduces confusion.

For that reason, as a library I think Sass MQ should default to `em` units in media quer

[2020-12-12 06:13] #134 closed

[2020-12-12 06:27] kaelig commented on #130
Thank you for opening that issue, @nickcolley! Also stoked to see you're now working on Origami at the FT – I absolutely loved working on that project and with such brilliant people ❤️

I have a feeling the usage of `$responsive: false` is becoming rarer and rarer, so I'll just quote [your workaround](https://github.com/alphagov/govuk-frontend/issues/1674#issuecomment-589615009) below, in case any

[2020-12-12 06:28] #130 closed

[2021-05-26 08:26] pecoram opened #142 "Warning using / for division is deprecated"
Updating sass to version 1.34.0 I get this warning from sass:

[code]

[2021-05-28 18:29] area73 commented on #142
Hi @pecoram , this is only a warning and, yes it is a little bit annoying :)
I'm going to open an issue to see what @kaelig thinks about it, in the mind time I open a PR #141 fixing this warning and updating docs and libs. It is a WIP and probably won't be merge but you can see what's changing

[2021-05-28 19:20] area73 opened #143 "Redesign and update library"
## TL;RD : redesign and update library

## Motivation

### Deprecation of `@import` and global vars and addition of new functionalities

with the addition of new functionalities on dart sass compiler , this library starts to get deprecation warnings and will probably stop working by October 2022.

[Read more in this post](https://www.sasscss.com/blog/the-module-system-is-launched)

### Abandon of

[2021-05-28 19:23] area73 commented on #143
@kaelig , I can work on above points if you like, since I have already some experience working with sass modules, I'm open to any suggestion !

[2021-05-29 13:25] joshdavenport commented on #143
These changes sound great, been using this library in projects for longer than I can remember so would hate to see it fall into a black hole of compatibility issues.

Perhaps in the meantime we can address some of the potentially breaking changes upcoming to Dart Sass? The division issue specifically seems like something that needs to happen. Something like:

[code]

Used as below, for example in

[2021-05-30 17:31] area73 commented on #143
👋 , @joshdavenport, I though on that too and I like the idea of checking for compatibility , but we will face slightly  same issues because meta.module-functions is available since dart sass 1.23.0 so to me it makes more sense to set the new version not backwards compatible with other sass engines or dart sass prior to 1.34.0 and remove old compatibility with non mediaqueries browsers

[2021-05-30 17:37] area73 commented on #143
I also found very interesting the use of unit test for this library .
I've been playing with `sass-true` npm package and I'm very happy with the result.
Below is a screen shot of some test that I just run with standar jest for this library

![image](https://user-images.githubusercontent.com/2030605/120114144-19edff80-c17e-11eb-9555-1a86f2400e03.png)

And testing code is writing in `sass` cool 😎

[

[2021-05-31 10:37] joshdavenport commented on #143
👋

Woah, that's awesome! Would be great similarly break expected output into tests rather than comparing the whole output of a file. Obviously things are cleaner that way, but it would also make it much easier to nail breaking changes. This is nowhere near my jurisdiction in respect to this project, but it sounds ideal.

Shame about meta.module-functions but your assessment is definitely right. Re

[2021-06-01 05:36] area73 commented on #143
joshdavenport, @kaelig plase see new PR https://github.com/sass-mq/sass-mq/pull/144, any comment/change is welcome

[2021-06-11 09:37] wg-jerome commented on #143
@area73 Thanks for your work on this - we're looking forward to updating and not seeing those Sass warnings every time we save a file.

🙌

[2021-06-30 11:14] pecoram commented on #142
@area73 any news about your PR?

[2021-07-01 14:27] raf-vs opened #145 "Using / for division is deprecated and will be removed in Dart Sass 2.0.0."
Hi,

When using sass-mq with dart-sass (since node-sass is deprecated) I get following deprecated warning:
`DEPRECATION WARNING: Using / for division is deprecated and will be removed in Dart Sass 2.0.0.`

According to the info in the warning it's related to the following line:
https://github.com/sass-mq/sass-mq/blob/e653555abab7668f58ee0abb5714063249a0173e/_mq.scss#L111

The recommendation is to

[2021-07-01 14:29] #145 closed

[2021-07-01 14:38] raf-vs commented on #142
I'm having the same issue/warning. (posted an issue before noticing this one)
Any eta on this "fix" being released?

[2021-07-02 13:35] area73 commented on #142
Waiting for @kaelig to review PR https://github.com/sass-mq/sass-mq/pull/144

[2021-09-20 13:11] landwire commented on #142
Hi there,
any updates on when this will be implemented?

[2021-09-21 09:28] andgudovich commented on #142
This warnings will be fixed in the upcoming 6.0.0 release, if you want to get rid of them right now just use the beta channel - `npm i sass-mq@next`

[2021-09-22 18:08] seanmacgillivray opened #150 "README fix in "Changing Media Type" section"
Where the invocation of the mq mixin uses the first and only argument without specifying $from or $until, the resultant CSS has a min-width media query, not a max-width. Doublechecked in Sassmeister.

[2021-09-22 18:08] seanmacgillivray commented on #150
I've got a fix prepped for this already and am happy to contribute!

[2021-11-24 13:21] siiron opened #151 "When will v6.0.0 be out of beta"
Any update on when 6.0.0-beta will be officially released as 6.0.0? Due to security policies in our CICD environment, we're not allowed to move to production with any dependencies marked as `alpha` or `beta`.

We are moving from node-sass to sass these days and need an updated version of sass-mq using `math.div` instead of the `/`-operator.

[2021-11-25 01:42] kaelig commented on #151
I should have some time over the next few weeks! In the meantime, I'd recommend copy-pasting this dependency directly in your project's file structure (.scss file + license).

[2021-11-25 01:42] #151 closed

[2021-12-07 10:56] mblankenstein commented on #142
Any ETA on the publish of 6.0.0?

[2022-01-09 10:42] TakeshiDaveau commented on #142
Up for the ETA of the 6.0.0 version

[2022-01-10 19:02] kaelig commented on #142
Hi everyone, thank you so much for your patience, and @area73 for all the work put into making this release happen!

v6.0.0 is now out on npm, please give it a go, and open issues if you encounter any bugs 🙏🏻

[2022-01-10 19:04] kaelig commented on #150
Thank you for using sass-mq! This behavior is on purpose, but feel free to fork the project if that's something you'd prefer to behave differently in your projects.

[2022-01-10 19:04] #150 closed

[2022-01-10 19:05] kaelig commented on #143
👋🏻 These changes should now all be available in v6.0.0 – @area73 can you confirm that it's the case?

[2022-01-10 20:11] joshdavenport commented on #143
Amazing! Massive kudos to @area73 and @kaelig for making this happen. Can't wait to get using this.

[2022-01-11 10:52] jerome-toole commented on #143
Thank you all. Really appreciate your work - we love sass-mq. 🥇

[2022-01-20 23:36] area73 commented on #143
Closing issue since all the work has been done with the last PR https://github.com/sass-mq/sass-mq/pull/148

[2022-01-20 23:36] #143 closed

[2022-05-06 19:33] emmaYugen opened #154 "Invalid CSS error message"
Hello.
I'm working a project with npm 8.5.5 and node v16.15.0.
I'm using gulp (v4.0.2) to build my front assets.
I'm importing the package in my css :
`@import '../../node_modules/sass-mq/mq';`

I always used this package on my other projects, but it's the first time I get this error on build :
```node_modules/sass-mq/_mq.scss Error: Invalid CSS after "  @if math": expected expression (e.g. 1px, b

[2022-05-06 20:41] emmaYugen commented on #154
Well I found out it's because apparently, `node-sass` doesn't support sass module.
but I used it on older projects and it worked.
Maybe they don't support it anymore...
Apparently, it's needed to switch on `dart-sass` for this feature.
It's the first time I hear about this.

[2022-05-06 20:41] #154 closed

[2022-05-07 04:27] kaelig commented on #154
Hi, thank you for using Sass MQ!

Perhaps this will help: https://github.com/sass-mq/sass-mq#backward-compatibility-with-import

Alternatively, use version `^4.0.2` of `sass-mq`, which comes with default support for node-sass.

Hope this helps!

[2022-05-14 11:20] cojoclaudiu opened #155 "Error migration from @import to @use"
Hi,
I get this error after updating my npm packages (and converting the React project from npm to vite.js)

[code]

I'm using like this
[code]

[2022-05-14 18:17] cojoclaudiu commented on #155
I've updated the path to
`use 'node_modules/sass-mq/mq'`

[2022-05-14 18:17] #155 closed

[2022-05-24 21:39] gxxcastillo opened #156 "Breakpoints showing up as 2x the width I specified"
Hi, I've got the following sass-mq config:

[code]

However, my mobile breakpoint is showing up at 720px, my mobileLandscape is showing up at 960px, etc.  Any thoughts on what might be causing this?

I've confirmed this using $show-breakpoints.

[2022-05-28 00:03] gxxcastillo commented on #156
This was an issue with Chrome Canary.

Somehow when calculating ems from pixels, the result was coming back as 2x what it should have been - prob due to some wonkiness related to the base font size.  I tried clearing cache, restarting computer, etc...ultimately, the fix was just to wait for the next update.  Everything is back to normal a/o ver104.0.5087.0

[2022-05-28 00:03] #156 closed

[2022-06-21 07:23] raf-vs opened #157 "Using / for division outside of calc() is deprecated and will be removed in Dart Sass 2.0.0"
Hi,

Using sass-mq with Dart Sass gives the following deprecation warning:

`Deprecation Warning: Using / for division outside of calc() is deprecated and will be removed in Dart Sass 2.0.0.`

Since locally editing "_mq.scss" in my node_modules isn't a good long-term solution (Also: it's a shared project so...)
Is there any way, outside of editing "_mq.scss", to remove/avoid this warning?

I would

[2022-06-21 08:17] rekomat commented on #157
Hej @raf-vs – This is fixed with `v6.0.0`. Check #142 for details.

[2022-08-02 13:49] bartek-szymanski opened #158 "My company uses Sass MQ"
Hi, we're using Sass MQ at Kwiziq (language learning site) and we'd like to be mentionned in the README of the project. Cheers!

[2022-09-04 22:15] benrich commented on #89
Don't ask me why but `'~sass-mq'` worked for me.

Although 6 years later @use is recommended now